* {
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app__artistContainer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.app__artistPic{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.app__artistName{
  text-align: center;
  margin-top: 20px;

}

.app__question{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 30px;
}

.app__videoContainer{
  display: block;
  position: relative;
  background-color: lightgray;
  width: 80%;
  height: auto;
  margin-left: auto; 
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid grey;
}

.app__videoGrid{
  /*
  display: flex;
  background-color: blue;
  */

  display: block;
  background-color: light grey;
  /*
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  top: 50%;
  */
  height: 90%;
  width: 95%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;

  
  

}

.app__video{

  position: relative;
  padding-bottom: 56.25%;

  margin-bottom: 20px;
  height: 0;
 
  /*
  float: left;
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  min-width: 30.6667%;
  height: 33.33%;

  */
}



iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


